<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-margin-top w3-light-gray w3-animate-left" *ngIf="auth.isAuthenticated()" style="z-index:3;width:300px;" id="mySidebar"><br>
  <div class="w3-container w3-row">
    <div class="w3-col s4">
      <i class="fa fa-user-circle w3-xxxlarge"></i>
    </div>
    <div class="w3-col s8 w3-bar">
      <h6>Perfil del usuario</h6><br>
    </div>
  </div>
  <hr>
  <div class="w3-container">
    <h5>Opciones</h5>
  </div>
  <div class="w3-bar-block">
    <a routerLink="/home" class="w3-bar-item w3-button w3-padding"><i class="fa fa-home fa-fw"></i>  Home</a>
    <a routerLink="/dashboard" class="w3-bar-item w3-button w3-padding"><i class="fa fa-dashboard fa-fw"></i>  Herramientas</a>
    <a routerLink="/oee" class="w3-bar-item w3-button w3-padding"><i class="fa fa-calculator fa-fw"></i>  Cálculo de OEE</a>
    <a routerLink="/tasks" class="w3-bar-item w3-button w3-padding"><i class="fa fa-cogs fa-fw"></i> Máquinas</a>
    <a routerLink="/profile" class="w3-bar-item w3-button w3-padding w3-blue"><i class="fa fa-user-circle fa-fw"></i> Perfil del usuario</a>
  </div>
</nav>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px;margin-top:43px;">

<main role="main" class="container" *ngIf="auth.isAuthenticated()">
  <br><br><br>
  <p class="display-1"><b>Perfil del usuario</b></p>
  <br>
</main>

<!--Begin Page Content-->
  <div class="w3-card-4 w3-content w3-margin-top" style="width:70%">
    <header class="w3-container w3-teal">
      <h3 class="w3-margin-top w3-margin-bottom">{{ profile?.nickname }}</h3>
    </header>
    <div class="w3-container">
      <br>
      <p><b>Información del usuario:</b></p>
      <hr>
      <img src="{{profile?.picture}}" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
      <p>E-Mail: {{ profile?.name }}</p>
      <p>Último inicio de sesión: {{ profile?.updated_at }}</p>
      <br>
    </div>
    <!--<button class="w3-button w3-block w3-dark-grey" routerLink="/dashboard"><b>Atrás</b></button>-->
  </div>
</div>
  
