<style>
    /* Make the image fully responsive */
    .carousel-inner img {
        width: 100%;
        height: 100%;
    }
</style>

<!--Carousel-->
<div id="demo" class="carousel slide" data-ride="carousel">
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="http://www.sankhlaenterprises.com/images/slider/3.jpg" alt="img-1" width="1100" height="500">
      <div class="carousel-caption">
        <h3>Bienvenidos a ACME</h3>
        <p>Lorem ipsum...</p>
      </div>   
    </div>
    <div class="carousel-item">
      <img src="http://www.vascotechnologies.net/imagenes/oie_27183526zVqJEeGB.jpg" alt="img-2" width="1100" height="500">
      <div class="carousel-caption">
        <h3>Bienvenidos a ACME</h3>
        <p>Lorem ipsum...</p>
      </div>   
    </div>
    <div class="carousel-item">
      <img src="http://www.agssaludperu.com/img/CESAR4.jpg" alt="img-3" width="1100" height="500">
      <div class="carousel-caption">
        <h3>Bienvenidos a ACME</h3>
        <p>Lorem ipsum...</p>
      </div>   
    </div>
  </div>
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>

<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container" id="about">
    <div class="w3-content">
      <div class="w3-twothird">
        <h1>Sobre Nosotros</h1>
        <h5 class="w3-padding-32">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h5>
  
        <p class="w3-text-grey">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint
          occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
          laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
  
      <div class="w3-third w3-center">
        <img src="http://icons.iconarchive.com/icons/graphicloads/100-flat-2/256/information-icon.png" alt="info" class="w3-padding-64" width="265" height="400">
        <!--<i class="fa fa-anchor w3-wide w3-padding-64 w3-text-red"></i>-->
      </div>
    </div>
</div>

<!-- Second Grid -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container" id="lab">
    <div class="w3-content">
      <div class="w3-third w3-center">
        <img src="http://icons.iconarchive.com/icons/graphicloads/100-flat-2/256/people-icon.png" alt="info" class="w3-padding-64" width="265" height="400">
      </div>
  
      <div class="w3-twothird">
        <h1>Vida Laboral</h1>
        <h5 class="w3-padding-32">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h5>
  
        <p class="w3-text-grey">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint
          occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
          laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
    </div>
  </div>

<!--Third Grid -->
<div class="w3-row-padding w3-padding-64 w3-container" id="cont">
    <div class="w3-content">
      <div class="w3-twothird">
        <h1>Contacto</h1><br><br>
        <div class="w3-card-4" style="width:88%">

            <header class="w3-container w3-teal">
              <h3 class="w3-margin-top w3-margin-bottom">Informacion de Contacto</h3>
            </header>
            
            <div class="w3-container">
              <br>
              <h6><i class="fa fa-phone w3-text-gray w3-xxlarge w3-margin-right"></i>+00 1515151515</h6><br>
              <h6><i class="fa fa-envelope-o w3-text-gray w3-xxlarge w3-margin-right"></i>  acme@example.com</h6><br>
              <h6><i class="fa fa-map-marker w3-text-gray w3-xxlarge w3-margin-right"></i>  Lorem ipsum, dolor sit amet consectetur adipisicing elit.</h6><br>            
            </div>
            <footer class="w3-container w3-teal">
              <br><br>
            </footer>
            
            </div>
      </div>
  
      <div class="w3-third w3-center">
        <br><br>
        <img src="http://icons.iconarchive.com/icons/graphicloads/colorful-long-shadow/256/Mail-icon.png" alt="cont" class="w3-padding-64" width="265" height="400">
        <!--<i class="fa fa-anchor w3-wide w3-padding-64 w3-text-red"></i>-->
      </div>
    </div>
</div>